@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.login-text {
  font-family: 'Bebas Neue', cursive;
}

.highlight-span {
  position: relative;
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
}

.highlight-span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

/* Perspective text styles */
.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-top: 40px;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.perspective-line p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #f07e6e;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #84cdfa;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #5ad1cd;
}

.perspective-line:nth-child(5) {
  left: 145px;
}

.perspective-line:nth-child(6) {
  left: 174px;
  background: #f07e6e;
}

.perspective-line:nth-child(7) {
  left: 203px;
  background: #84cdfa;
}

.perspective-line:nth-child(8) {
  left: 232px;
  background: #5ad1cd;
}

.perspective-line:nth-child(9) {
  left: 261px;
  background: #f07e6e;
}

.perspective-line:nth-child(10) {
  left: 290px;
  background: #84cdfa;
}

.perspective-line:nth-child(11) {
  left: 319px;
  background: #5ad1cd;
}

.perspective-line:nth-child(12) {
  left: 348px;
}
